%h1 Welcome Developers!
%p
All developers are encouraged to query our database of Electric Vehicle (EV) charging stations using our REST-based API.
%p
A sample query follows the format of: http://mshopper.heroku.com/stations/?lat=40.37483328&lon=-75.11872690&format=json
%p
The "lat" and "lon" parameters indicate the decimal latitude and longitude of the desired location. Query results of EV charging stations will be returned within a reasonable driving distance from the specified location. Decimal latitude and longitude coordinates of the EV charging stations are returned in the query results, enabling you to calculate driving distance, portray the stations on a map, or incorporate the query results into another application.
%p
Supported output formats are XML and JSON. Specify the desired output format by setting the value of the "format" parameter to "xml" or "json" as desired. 
%p
Currently, no usage limits are in place or planned for the future. Please drop us a line through our 
%a{:href => "/contact_us_emails/new"} Contact Us 
link and let us know how your application uses this data. We would love to hear from you!
