%h1 Frequently Asked Questions (FAQs) 
%h4 1) How does this work? 
The electric vehicle (EV) charging station directory maintains an on-line database of EV charging stations, accessible to any web-enabled client, such as users of our free "Charge Finder" iPhone app. The "Charge Finder" app obtains your location using the GPS capabilitites of the iPhone and displays a list of nearby charging stations listed in the directory. Tapping on an entry in the iPhone app will display the station's location on a map, suitable for driving directions.
%p
  EV charging station owners add their stations to the directory to make those stations visible to EV owners.
%h4 2) I own an electric vehicle. Could I be notified of new charging stations as they become available?
Yes, simply send us an email via our 
%a{:href => "/contact_us_emails/new"} Contact Us 
link with your email address and street address, and you will be automatically notified of new charging stations as they become available. A street address is necessary to restrict your notifications to nearby stations. 
It is not necessary to use an iPhone or own our "Charge Finder" app to register for this free service.
%h4 3) How much does it cost?
For EV owners, this is a free service. Simply download and use the free "Charge Finder" app from the iPhone app store. Other methods of obtaining station locations are being developed, and we encourage developers to visit our 
%a{:href => "/developers"} Developers
reference page. Third-party applications using the directory's data are welcomed and encouraged.
%br/
%br/
For EV station owners, you may choose the free or paid service. 
%h3  All fees will be waived on the paid service for charging station owners until July 1, 2011.
The free service enables a station owner to create a listing, making that station visible to the iPhone app and all users querying the directory. 
After an initial period of 30 days, no updates are permitted to the listing. 
The cost of the paid service will be $10/month per station beginning July 1, 2011 and enables the station owner to update their station's published description at any time, serving as a location-based marketing tool for the station owner. 
Additionally, station owners choosing the paid service will have their location automatically emailed to EV owners in their area who are listed in the directory. Other marketing metrics such as the number of EV owners finding your station via the directory will also be available in the future.
%h4 4) I own multiple charging stations. Can I manage all of my stations with a single account? 
Yes, you may add as many stations to your account as needed. Simply use the "Add Station" link after logging in to your account to add more stations. At any time you may view your complete list of stations by clicking the "Manage Stations" link after logging in to your account.
%h4 5) How will I be billed for the paid version of the service?
As of July 1, 2011, you will receive an invoice via email a few business days after creating your account by following the 
%a{:href => "/clients/new"} Sign Up
link. The email will be sent to the email address supplied at the time of account creation. The amount of the invoice will be the amount entered in the "Desired Credit Balance" located on your account management page. Invoices may be paid by credit card or PayPal accounts only.
All fees incurred prior to July 1, 2011 will be waived.
%h4 6) As a station owner, may I immediately add my stations?
Yes, you may add stations to your account immediately after signing up. There is no waiting period.
%h4 7) As a station owner, how do I create an advertisement?
After logging in to your account, click the "Manage Stations" link, click the "Edit" link associated with the desired station, then update the "Description" field. Your updates will be immediately visible to all EV owners using the directory. Some potential uses are advertising discounts on specific items or notifying EV owners of new services or expanded capabilitites.
%h4 8) I just want to list my charging station using the free service. How do I do that?
Upon account creation, or at any time, login, click the "Edit Account" link, and set your desired credit balance to zero.
%h4 9) Can I switch from the free to paid version?
Yes, simply login, click the "Edit Account" link, and set your desired credit balance to an appropriate amount. You will receive an emailed invoice in a few business days. Your balance will decrease by $US10/month per station as of July 1, 2011 and will automatically revert to the free listing service if you do not enter a new credit balance on your "Edit Account" page.
%h4 10) Is this service offered globally?
Yes, nearly all street addresses will be recognized by the directory when the station is added to your account. When you enter a street address to add a station to the directory, a map will be displayed for confirmation purposes.
%h4 11) Is there a referral program?
Yes, please
%a{:href => "/contact_us_emails/new"} Contact Us
for more details.
    
  
