%h1 Frequently Asked Questions (FAQs) 
%h4 1) How does this work? 
The electric vehicle (EV) charging station directory maintains an on-line database of EV charging stations, accessible to any web-enabled user, such users of our iPhone app.
%h4 2) How much does it cost?
For EV owners, this is a free service. For EV station owners, you may choose the free or paid service. 
The free service enables a station owner to create a listing, making that station visible to the iPhone app and all users querying the directory. 
After an initial period of 30 days, no updates are permitted to the listing. 
The paid service costs $10/month per station and enables the station owner to update their station's published description at any time, serving as a location-based marketing tool for the station owner. 
Additionally, EV owners who register with this service will be notified by email of stations in their area.  
    
  
