%h1 Welcome!
%p
  This site enables Electric Vehicle (EV) charging station owners to list the location of their station, enabling EV owners to easily find listed stations.
%p
  The planned launch of this site is early 2011.
