%h3 Welcome!
%p
  We provide a simple solution to a new problem: connecting electric vehicle (EV) owners with publicly available charging stations.
%b
  The planned launch of this site is early 2011.
%p 
  EV owners: Download our free "Charge Finder" app from the iPhone App Store to search for nearby EV charging stations. 
%p
EV charging station owners: Make your charging station known and available to iPhone "Charge Finder" users and other potential clients. 
Read our
%a{:href => "/question/index"} FAQs,
%a{:href => "/contact_us_emails/new"} Contact Us
if you have any questions, and 
%a{:href => "/clients/new"} Sign Up
to list your charging station. It only takes a minute, making your station immediately visible to EV owners. 
%p
Use the service to promote your station and customized daily offers. Free and low-cost listing options are available as explained in our 
%a{:href => "/question/index"} FAQs.