%h2 Welcome!
%p 
  We provide a simple solution to a new problem: Connecting electric vehicle (EV) owners with publicly available charging stations across the globe.
%b
  The planned launch of this site is early 2011.
%p 
  EV owners: Download our free "EV Station Finder" app from the 
  %a{:href => "itms://itunes.apple.com/us/app/ev-station-finder/id412444541?mt=8"} iPhone App Store 
  to search for nearby EV charging stations. Additional methods of searching the directory are in development. 
  %a{:href => "/developers"} Developers
  are encouraged to use our resources to build and distribute innovative applications.
%p
EV charging station owners: Make your charging station known and available to iPhone "EV Station Finder" users and other potential clients. 
Read our
%a{:href => "/question/index"} FAQs,
%a{:href => "/contact_us_emails/new"} Contact Us
if you have any questions, and 
%a{:href => "/clients/new"} Sign Up
to list your charging station. It only takes a minute, making your station immediately visible to EV owners. 
%p
Use the service to promote your charging station and daily specials. Free and low-cost listing options are available as explained in our 
%a{:href => "/question/index"} FAQs.
All fees will be waived until July 1, 2011. 