<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>A message from the Contact Us page:</h1>
	<p>
	<br><%= @contact_mail.subj %>.<br/>
    </p>
    <p>
	<br><%= @contact_mail.message %>.<br/>
    </p>
    
  </body>
</html>